<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Гланая</a></li>
            <% if(!auth) { %>
                <li><a href="/login">Войти</a></li>
                <li><a href="/register">Регистрация</a></li>
            <% } %>           
            <% if(auth) { %>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/logout">Выйти</a></li>
            <% } %>
        </ul>
    </nav>
    <% if(message) {%>
        <p><%= message %></p>
    <% } %>
    <div class="form">
        <form action="/signup" method="POST">
            <label for="username">Имя</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="passwordRetype">Повторите пароль</label>
            <input type="password" name="passwordRetype" id="passwordRetype">
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>